/* styles.css */

body {
  font-family: 'Cabin', sans-serif;
}

h5 {
  font-family: 'Lobster', cursive;
}

.font-bold {
  font-weight: bold;
}

.separator {
  border-bottom: 2px solid #000;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.mensaje-emergente {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #dc3545;
  padding: 5px 10px;
  border-radius: 5px;
}

.popover {
  background-color: #0b0b0b;
  color: #dc3545;
  border-color: #0c0b0b;
}

/* Estilos para el botón */
#enviarCorreo:hover + .mensaje-emergente {
  display: block;
}

.card {
  margin-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-indicators {
  margin-top: 500px;
}

.carousel-inner .carousel-item img {
  max-width: 100%;
  height: auto;
}

.red-section {
  background-color: #dc3545;
  color: #fff;
  height: 500px;
  padding: 100px 0;
}

.red-btn {
  background-color: #dc3545;
  color: #fff;
  border: 5px solid #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.red-btn:hover {
  background-color: #fff;
  color: #dc3545;
}

.btn-custom {
  border-color: #fff;
}

footer {
  background-color: #373a3c;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
