/* styles.css */

body {
  font-family: 'Cabin', sans-serif;
}

h5 {
  font-family: 'Lobster', cursive;
}

.font-bold {
  font-weight: bold;
}

.separator {
  border-bottom: 2px solid black; /* Ancho de la línea y color */
  width: 100%; /* Longitud de la línea */
  margin: 0 auto;
  padding: 20px 0; /* Centrar la línea horizontalmente */
}

.mensaje-emergente {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}


.popover {
  background-color: #FF6347; /* Cambia el color de fondo del popover */
  color: white; /* Cambia el color del texto dentro del popover */
  border-color: #FF6347; /* Cambia el color del borde del popover */
}

/* Estilos para el botón */
#enviarCorreo:hover + .mensaje-emergente {
  display: block;
}



.card {
  margin-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-inner .carousel-item img {
  max-width: 100%;
  height: auto;
}

.red-section {
  background-color: red;
  color: white;
  height: 500px;
  padding: 150px 0;
}

.red-btn {
  background-color: red;
  color: white;
  border: 5px solid white; /* Aquí se especifican los bordes blancos */
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.red-btn:hover {
  background-color: white;
  color: red;
}

.btn-custom {
  border-color: white; /* Cambia el color del borde */
}

footer {
  background-color: #373a3c;
  color: white;
  text-align: center;
  padding: 20px 0;
}
